In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv('../data/orders.csv')

In [3]:
prior_orders = pd.read_csv('../data/order_products__prior.csv')

In [4]:
prior_orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
prior_products = pd.DataFrame(prior_orders.groupby('order_id')['product_id'].apply(list))

In [ ]:
from pyspark.sql import functions as F
prior_products = pd.DataFrame(prior_orders.groupby('order_id').agg(F.collect_list(F.struct('product_id'))

In [ ]:
prior_products.head()

In [3]:
prior = orders[orders['eval_set'] == 'prior']

# find the number of the last order placed
prior['num_orders'] = prior.groupby(['user_id'])['order_number'].transform(max)
print(prior.shape)
prior.head()

(3214874, 8)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,num_orders
0,2539329,1,prior,1,2,8,NaN,10
1,2398795,1,prior,2,3,7,15.0,10
2,473747,1,prior,3,3,12,21.0,10
3,2254736,1,prior,4,4,7,29.0,10
4,431534,1,prior,5,4,15,28.0,10

In [ ]:
comb = pd.concat([prior, train], axis=0).reset_index(drop=True)